# Пример клиентского .ovpn AntiZapret (плейсхолдеры)
# Как в setup/etc/openvpn/client/templates/antizapret-udp.conf
# Реальный файл: /root/antizapret/client/…/*-udp.ovpn
#
# Первый remote в шаблоне AZ = 50443; далее 504, 443
# DNS после connect: UDP *.29.0.1 · TCP *.29.4.1

client
nobind
remote vpn.example.com 50443 udp4
remote vpn.example.com 504 udp4
remote vpn.example.com 443 udp4
server-poll-timeout 10
remote-cert-tls server
dev tun
cipher AES-128-GCM
reneg-sec 0
resolv-retry infinite
persist-key
persist-tun
<ca>
-----BEGIN CERTIFICATE-----
ВСТАВЬТЕ_CA
-----END CERTIFICATE-----
</ca>
<cert>
-----BEGIN CERTIFICATE-----
ВСТАВЬТЕ_CLIENT_CERT
-----END CERTIFICATE-----
</cert>
<key>
-----BEGIN PRIVATE KEY-----
ВСТАВЬТЕ_CLIENT_KEY
-----END PRIVATE KEY-----
</key>
